/* Menu */
.menu {
    margin-top: 120px;
    margin-bottom: 120px;

    &-item {
        margin-bottom: 60px;

        &-title {
            @include tipo-2(24);
            margin-bottom: 1em;
        }

        &-list {
            @include tipo-1(18);
            line-height: em(35, 18);

            &-price {
                font-family: $fonte-2;
                color: $bege-escuro;
                display: inline-block;
                text-align: right;
                margin-right: 10px;
                margin-left: -80px;
                width: 70px;

                @include d(s) {
                    margin-left: 0px;
                    width: auto;
                }
            }
        }

        &-img {
            border-radius: 50%;
            border: 10px solid $bege-medio;
            position: absolute;
            margin-top: 60px;
            right: 0;

            @include d(l) {
                right: 120px;
            }

            @include d(s) {
                display: none;
            }
        }
    }

    @include d(s) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
